<% provide(:title, 'Home') %>

<h2 class="description">Store, Share & Find Handy Code Snippets </h2>
<p class="join"><%= link_to "Sign Up", new_user_registration_path %></p>
</header>
<section id="summary"> 
	<div class="content_wrap">
		<figure id="sample">
		<div class="slide_wrap">
			<section id="one" class="slide">
					<div class="column_sample left"> 
						<h5>Batch Info</h5>
						<h6> Description </h6>
						<p class="side_sample">A Happy Ruby Message</p>
						<h6>Tags</h6>
						<p class="side_sample"> Ruby </p>
						<h6>Notes</h6>
						<p class="side_sample"> Demo Link Here -></p>
						
					</div>
					<div class="column_sample right">
						<h5>Code</h5>
						<div class="form_wrap">
							 <div class="column left">
						 <p class="post_heading"> HTML </p>
						 <p class="post_heading"> CSS </p>
						  <p class="post_heading"> Javascript </p>
						  <p class="post_heading"> PHP </p>
						  <p class="notes"> Fill Any That Apply </p>
						 	<p class="submit_batch"><b> Post Batch </b> </p>
						</div>
						 <div class="column right">
						 	 <p class="post_heading"> HAML </p>
						 	  <p class="post_heading"> SCSS </p>
						 	   <p class="post_heading"> COFFEE </p>
						 	   <p class="post_heading open"> RUBY </p>
						 	   <div class="post_heading fillcode"> 
						 	   	<p class="left_split">
						 	   	1 </br>
						 	   	2 </br>
						 	   	3 </br>
						 	   	</p>
						 	   	<p class="right_split">
						 	   		<span class="intro"> def</span> <span class="name"> save </span><br />
						 	   			<span class="puts">puts </span> <span class="title"> "Save me!" </span><br />
						 	   			<span class="intro"> end </span> <br />
						 	   	</p>
						 	   </div>
						 	</div>
						 	<div style="clear:both"></div>
						 	
					</div>
					<div class="outer_description">
						<p> Quickly add multiple types of code in a single interface  </p>
						<p> Validate on the fly with an embedded Ace Editor </p>
						<p> Tag and describe code snippets for easy recall  </p>
						<p class="demo_link"> <%=link_to "Demo Editor", new_post_path %> </p>
					</div>
				</section> <!--END SLIDE -->

			<section id="two" class="slide">
					<div class="column_sample left"> 
						<h5>Craig Smith</h5>
						<div class="mock_image"> <img src="/assets/tiger.png"></div>
						<h6>Location</h6>
						<p class="side_sample"> LA, CA</p>
						<h6>Bio</h6>
						<p class="side_sample">Designer & Front End Developer living in smog city </p>
						<h6>Site</h6>
						<p class="side_sample">example.me </p>
					</div>
					<div class="column_sample right">
						<h5>Code Batches</h5>
						<article class="sample_post">
						<p> jQuery snippet to scroll smoothly to the top of a page</p> 
						<div class="ingredients">
   						 <div class="heading"> Tags:
    					</div>
    					<div class="tag_list"> jQuery, HTML, CSS, Scoll Effects    </div>
    					<div style="clear:both"></div>
  						</div>
						</article>

						<article class="sample_post">
						<p> D3.js + Canvas snippet for creating dynamic bar graphs</p> 
						<div class="ingredients">
   						 <div class="heading"> Tags:
    					</div>
    					<div class="tag_list"> Javascript, HTML5, Canvas    </div>
    					<div style="clear:both"></div>
  						</div>
						</article>
						<article class="sample_post">
						<p> CSS3 hover effect for overlaying captions on hover.</p> 
						<div class="ingredients">
   						 <div class="heading"> Tags:
    					</div>
    					<div class="tag_list"> CSS3, Animations    </div>
    					<div style="clear:both"></div>
  						</div>
						</article>
					</div>
					<div class="outer_description">
						<p> Build a personal collection of your most used code batches</p>
						<p> Make batches public or private </p>
						<p> Share relevant code snippets with friends and colleagues </p>
						<p class="demo_link"> <a href="/users/1">Demo Profile</a> </p>
					</div>
				</section><!--END SLIDE ONE -->

					<section id="three" class="slide">
					<div class="column_sample left"> 
						<h5>Popular Tags</h5>
						
						<h6>jQuery <b>{164} </b></h6>
						<h6>SASS MIX-INS <b>{102} </b></h6>
						<h6>JAVASCRIPT <b>{92}</b> </h6>
						<h6>CANVAS <b> {76} </b> </h6>
						<h6>CSS3 <b>{64} </b></h6>
						<h6>HOVER EFFECTS <b>{55}</b></h6>
						<h6>AJAX <b> {43}</b> </h6>
						<h6>COFFEE SCRIPT <b> {32} </b> </h6>
						<h6>DATA VIZ <b> {24} </b> </h6>
						<h6>RUBY <b> {21} </b> </h6>
						<h6>MEDIA QUERIES <b> {14} </b> </h6>
						<h6>DEVISE <b> {8} </b> </h6>

						
					</div>
					<div class="column_sample right">
						
						<h5>Code Batches</h5>
						<div class="sample_page_column">
						<article class="sample_post">
							<div class="user_wrap">
  							<p class="avatar blue"> </p>
 							<p class="username"> _Why </p>
							<div style="clear:both"></div>
   							</div>
						<p> Transition smoothly beween background classes </p> 
						<div class="ingredients">
   						 <div class="heading"> Tags:
    					</div>
    					<div class="tag_list"> jQuery, CSS3    </div>
    					<div style="clear:both"></div>
  						</div>
						</article>

					<article class="sample_post">
							<div class="user_wrap">
  							<p class="avatar medium grey"> </p>
 							<p class="username"> AlexP </p>
							<div style="clear:both"></div>
   							</div>
						<p> Animate D3.js graphs when they become visible on page</p> 
						<div class="ingredients">
   						 <div class="heading"> Tags:
    					</div>
    					<div class="tag_list"> CSS3, Javascript    </div>
    					<div style="clear:both"></div>
  						</div>
						</article>

						</div>

						<div class="sample_page_column right">

						<article class="sample_post">
								<div class="user_wrap">
  							<p class="avatar darkgrey"> </p>
 							<p class="username"> _Sidecar </p>
							<div style="clear:both"></div>
   							</div>

							<p> Sass mixin for multiple gradients </p> 
							<div class="ingredients">
   						 	<div class="heading"> Tags:
    						</div>
    						<div class="tag_list"> SASS Mixin   </div>
    						<div style="clear:both"></div>
  							</div>
							</article>


						<article class="sample_post">
							<div class="user_wrap">
  							<p class="avatar orange"> </p>
 							<p class="username"> Jerome </p>
							<div style="clear:both"></div>
   							</div>
						<p> Pretty sweet Raphael.js/css3 loading animation </p> 
						<div class="ingredients">
   						 <div class="heading"> Tags:
    					</div>
    					<div class="tag_list"> Javascript, CSS3    </div>
    					<div style="clear:both"></div>
  						</div>
						</article>
						</div>
					</div>
					<div class="outer_description">
						<p> Easily find relevant snippets from other users</p>
						<p> 'Star' snippets to store them within your profile  </p>
						<p> Create a personal feed of users and topics </p>
						<p class="demo_link"> <%=link_to "View Batches", posts_path %> </p>
					</div>

				</section><!--END SLIDE ONE -->
				
			</div><!--END SLIDE WRAP -->
</figure>
<nav class="slide_thumbs"> 
<ul>
	<li> <a href="#one"></a></li>
	<li> <a href="#two"></a></li>
	<li> <a href="#three"></a> </li>
</ul>
</nav>
 </section>

 <div class="home_search">
 	<div class="form_container">
<%= form_tag posts_path, :method => :get do %>
    <%= text_field_tag :search, params[:search], :placeholder => "Find Code..." %>
    <%= submit_tag "Search Batches", :name => nil %>  

<% end %>
</div>
</div>

<p class="more_about"> About </p>
	<section id="about_home">
<p class="home_explain"> I waste an embarrassing amount of time combing through old
projects to find code I've already written. It's annoying, but I haven't really
found a decent solution for quickly storing/accessing frequently used code in one place.
</p>
<p class="home_explain"> ...So I made this. I guess it's somewhere in between dribble & fffffound but for developers - a place to easily store, share or find cool code. It will hopefully get better as I learn more & more rails. 
</p>

<p class="home_explain third"> Right now it's only supporting the code-types I work with, but if you want to use it and need support for a different type just email me, I'll add it.
</p>
	<div style="clear:both">
	</section>

<p class="more_about"> Latest Batches </p>
<section id="recent_posts">
	<div class="content_wrap">
<% @posts.each do |post| %>
 	<%= link_to post do %>

  <div class="snippet_wrap home">
  	<div class="user_wrap">
  	<%= link_to user_path(post.user) do %>
  	<p class="avatar"> <%if post.user.avatar %>
    <%= image_tag(post.user.avatar.url(:thumb)) %>
    <%else%>
    <%= No Profile Image %>
    <%end%></p>
  	<p class="username"> <%= post.user.username%> </p>
  	   <%end%>
  	<div style="clear:both"></div>
  </div>
    <%= link_to post do %>
 <div class="index_post main">
    <%= post.description %>
  </div>
  <%end%>
  <div class="ingredients">
    <div class="heading">
	Tags:
    </div>
  <div class="tag_list"> 
      <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(',') %>
    </div>
</div>
  <%end%>
</div>
 	<%end %>
 	<div style="clear:both"></div>

</div>
 </section>
 <section id="home_more">
 <p class="helper"> More Questions?</p>
 <p class="join"> <%= mail_to "seidler.andrew@gmail.com", "Email Me" %> </p>
 <p class="helper border">THIS IS A DEMO RUBY ON RAILS APP CREATED FOR GA BY ANDREW SEIDLER</p>
  <p class="helper border half">*</p>
 <p>

</section>
