<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="content_wrap">
  <section id="left_column">
  <h3 class="user_name"> Batch Info </h3>
<div class="description_wrap">
  <div class="post_label">
    <%= f.label :description, "Describe Batch" %>
  </div>
  
  <div class="post_entry">
    <%= f.text_field :description, :placeholder => "120 Characters Max " %>
  </div>
  
   <div class="post_label"> 
    <%= f.label :tag_list, "Tags" %> 
  </div>

  <div class="post_entry">
      <%= f.text_field :tag_list, :placeholder => "Separate Code Types By Commas" %>
  </div>

  <div class="post_label">
    <%= f.label :notes %>
  </div>

  <div class="post_entry">
    <%= f.text_field :notes, :placeholder => "Links & Additional Info" %>
  </div>
</div>
</section>

<section id="right_column">

  <h3 class="user_name right"> Code </h3>
   <section class="batches form">
      <div class="snippet_form">
         <div class="column left">
          <div class="form_wrap">
             <p class="post_heading"> HTML </p>
             <div class="post_entry code">
            <%= f.text_area :html, 'ace-editor' => true, "ace-theme" => "solarized_light", "ace-mode" => "html", :placeholder => "Enter Code" %>
            </div>
          </div> <!--close form wrap -->

          <div class="form_wrap">
        <p class="post_heading"> CSS </p>
          <div class="post_entry code">   
            <%= f.text_area :css, 'ace-editor' => true, "ace-theme" => "solarized_light", "ace-mode" => "css", :placeholder => "Enter Code" %>
          </div>
      </div> <!--close form wrap -->

         <div class="form_wrap">
         <p class="post_heading"> JAVASCRIPT </p>
          <div class="post_entry code">
            <%= f.text_area :javascript, 'ace-editor' => true, "ace-theme" => "solarized_light", "ace-mode" => "javascript", :placeholder => "Enter Code" %>
       </div>
     </div> <!--close form wrap -->

      <div class="form_wrap">
        <p class="post_heading"> PHP </p> 
          <div class="post_entry code">
            <%= f.text_area :php, 'ace-editor' => true, "ace-theme" => "solarized_light", "ace-mode" => "php", :placeholder => "Enter Code" %>
       </div>
      </div> <!--close form wrap -->
    </div> <!--close column left -->
      <div class="column right">
        <div class="form_wrap">
          <p class="post_heading"> HAML </p>
          <div class="post_entry code">
          <%= f.text_area :haml, 'ace-editor' => true, "ace-theme" => "solarized_light", "ace-mode" => "haml", :placeholder => "Enter Code" %>
          </div>
        </div> <!--close form wrap -->
      
      <div class="form_wrap">
        <p class="post_heading"> SCSS </p>
         <div class="post_entry code"> 
            <%= f.text_area :scss, 'ace-editor' => true, "ace-theme" => "solarized_light", "ace-mode" => "scss", :placeholder => "Enter Code" %>
       </div>
     </div> <!--close form wrap -->

       <div class="form_wrap">
           <p class="post_heading"> COFFEE </p>
             <div class="post_entry code">
            <%= f.text_area :coffee, 'ace-editor' => true, "ace-theme" => "solarized_light", "ace-mode" => "coffee", :placeholder => "Enter Code" %>
          </div>
      </div> <!--close form wrap -->

       <div class="form_wrap">
         <p class="post_heading"> RUBY </p>
            <div class="post_entry code">
            <%= f.text_area :ruby, 'ace-editor' => true, "ace-theme" => "solarized_light", "ace-mode" => "ruby", :placeholder => "Enter Code" %>
       </div>
    </div> <!--close form wrap -->
      </div> <!--close column right -->
         <div class="clear"> </div>
    </div> <!--close form  -->
    <% if user_signed_in?%>
      <h5 class="code_area"> Fill any that apply </h5>
 <%= f.hidden_field :user_id %>
 <div class="actions">
    <%= f.submit "Post Batch" %>
  </div>
  <% else %>
  <p class="join preview"><%= link_to "Create Account To Save", new_user_registration_path %></p>
  <% end %>

</section>
<% end %>
</div> 








