<div class="content_wrap show_page">

  <section id="left_column">
  	 <h3 class="user_name"> Batch Info </h3>
<div class="description_wrap">
<h3 class="description_label"> Batch Description </h3>
 <div class="description_content">
  <%= @post.description %>
</div>

<h3 class="description_label"> Tags </h3>
  <div class="description_content">
  <%= @post.tag_list %>
</div>
<%if @post.notes.empty? %>
<% else %>
<h3 class="description_label"> Notes </h3>
  <div class="description_content">
  <%= @post.notes %>
</div>
<% end %>
</div>
</section>

<section id="right_column">
	<h3 class="user_name right"> Code </h3>
	 <section class="batches form">
  <div class="display_form">

  	<%if @post.html.empty? %>
  	<% else %>
	<div class="post_content html">
		<textarea ace-editor="" ace-theme="solarized_dark" ace-mode="html">
 	 		<%= @post.html%>
			</textarea>
	</div>
	<% end %>

	<% if @post.haml.empty? %>
	<%else%>
	<div class="post_content haml">
		<textarea ace-editor="" ace-theme="solarized_dark" ace-mode="haml">
				<%= @post.haml%>
		</textarea>
	</div>
	<% end %>

	<% if @post.css.empty? %> 
	<%else %>
	<div class="post_content css">
		<textarea ace-editor="" ace-theme="solarized_dark" ace-mode="css">
  		<%= @post.css %>
  		</textarea>
	</div>
	<% end %>

<% if @post.scss.empty? %>
<%else%>
	<div class="post_content scss">
		<textarea ace-editor="" ace-theme="solarized_dark" ace-mode="scss">
  		<%= @post.scss %>
  		</textarea>
	</div>
	<%end%>

	<% if @post.javascript.empty? %>
	<%else%>
		<div class="post_content javascript">
		<textarea ace-editor="" ace-theme="solarized_dark" ace-mode="javascript">
  		<%= @post.javascript %>
  		</textarea>
	</div>
	<%end%>

	<% if @post.coffee.empty? %>
	<%else%>
		<div class="post_content coffee">
		<textarea ace-editor="" ace-theme="solarized_dark" ace-mode="coffee">
  		<%= @post.coffee %>
  		</textarea>
	</div>
	<%end%>

		<% if @post.php.empty? %>
	<%else%>
		<div class="post_content php">
		<textarea ace-editor="" ace-theme="solarized_dark" ace-mode="coffee">
  		<%= @post.php %>
  		</textarea>
	</div>
	<%end%>

		<% if @post.ruby.empty? %>
	<%else%>
		<div class="post_content ruby">
		<textarea ace-editor="" ace-theme="solarized_dark" ace-mode="coffee">
  		<%= @post.ruby %>
  		</textarea>
	</div>
	<%end%>
</div>
<div class="edit"><% if user_signed_in? & current_user %>
<%= link_to 'Edit', edit_post_path(@post) %> 
<%end%>
</div>
</div>
</section>

</section>